.home_main {
	top: 0;
	left: 0;
	padding: 1rem;
	width: 100%;
	padding-bottom: 2rem;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1rem;
	align-items: stretch;
	z-index: 1;
}
.large {
	grid-column: span 6;
	height: 23rem;
}
.small {
	grid-column: span 4;
	height: 23rem;
}
.medium {
	grid-column: span 6;
	height: 24rem;
}

@media (max-width: 1200px) {
	.small,
	.medium,
	.large,
	.mobile {
		grid-column: span 12 !important;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 100%;
		padding-bottom: 2rem;
	}
}
