.board_main {
	width: 100%;
	height: auto;
	max-height: auto;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	display: grid;
	padding-bottom: 2rem;
	gap: 1rem;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"customerSatisfaction topProducts"
		"totalRevenue topSales";
}

.topProducts {
	grid-area: topProducts;
}

.topSales {
	grid-area: topSales;
}

.totalRevenue {
	grid-area: totalRevenue;
}

.customerSatisfaction {
	grid-area: customerSatisfaction;
}
@media (max-width: 767px) {
	.board_main {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem;
		padding-bottom: 2rem;
		margin: 0;
	}

	.topProducts,
	.topSales,
	.totalRevenue,
	.customerSatisfaction {
		width: 100%;
		flex: none;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.board_main {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"topProducts topSales"
			"totalRevenue customerSatisfaction";
	}
}
