.main_chart {
	width: 100%;
	max-width: 36rem;
	max-height: 23rem;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	box-sizing: border-box;
}

.Line {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	width: 100%;
	height: 95%;
}

.legend {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* padding-bottom: 0.25rem;
	padding-top: 1.2rem;
	margin-left: 2.8rem;
	border-top-style: groove;
	width: 83%;
	height: 1.8rem; */
}

.last_month,
.this_month {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	/* padding-bottom: 0.25rem;
	padding-top: 0.25rem;
	border-collapse: collapse;
	line-height: 30px;
	font-size: 13.5px;
	height: 5.2rem;
	position: relative;
	width: 100%; */
}

.text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

@media (max-width: 768px) {
	.main_chart {
		min-height: 15rem;
	}

	.Line {
		min-height: 12rem;
		width: 100%;
	}
}
